@model GaleryAdd

@{
    ViewData["Title"] = "CategoryAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Geleri Sayfası </h4>
							</div>
							
						</div>
			
					</div>
				</div>



				<!-- Default Basic Forms Start -->
				<div class="pd-20 card-box mb-30">
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4">Galeri Ekleme Sayfası</h4>
						</div>
						
					</div>
@*				using(Html.BeginForm("CategoryAdd","Category",FormMethod.Post) ){

*@

				<form  method="post" enctype="multipart/form-data"  >
					<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Sayfa Başlığı</label>
							<div class="col-sm-12 col-md-10">
								@Html.TextBoxFor(x=>x.PageTitle,new{@class="form-control"})
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Sayfa Başlığı İngilizce</label>
							<div class="col-sm-12 col-md-10">
								@Html.TextBoxFor(x=>x.PageTitleEng,new{@class="form-control"})
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Kategori Açıklaması</label>
							<div class="col-sm-12 col-md-10">
							@*@Html.TextAreaFor(x=>x.ImagePath,10,3,new{@class="form-control"})*@
							<input class="form-control" type="file"name="ImagePath">
							</div>
						</div>
					
					
     <button class="btn  btn-outline-primary w-100" type="submit"><i class="icon-copy fa fa-save" aria-hidden="true"></i> Kaydet</button>
						
					

		</form>
		

	</div>